@import "../node_modules/bootstrap/scss/bootstrap.scss";

$app-border-radius: 9px;
$app-box-shadow-lg: 0 2px 7px 0 rgba(0,0,0,0.15);

.valign-center {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
}
.valign-center span {
	margin-left: 0.25rem;
}

.cnt-box {
	border-radius: $app-border-radius;
	background-color: rgb(250, 250, 250);
	box-shadow: $app-box-shadow-lg;
	padding: 1rem;
}


